/*  */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* div {
  background-color: white;
} */

#topnav {
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  overflow: hidden;
  background-color: #3b3b3b;
}

#topnav a{
  float: left;
  display: block;
  text-align: center;
}

a {
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
  background-color: #3b3b3b;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #636363;
}

a[id*="about"] {
  background-color: #636363;
  float: right;
}

a[id*="home"] {
  background-color: #636363;
}

main{
  text-align: center;
  margin: 0px 10px 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

#short-about {
  /* opacity: 0.75; */
  background-color: rgba(128, 128, 128, 0.212);
  width: auto;
  height: 300px;
  display: block;
  padding-top: 50px;
}

.content{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 0;
  /* background-color: cyan; */
}

.content-container {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.212);
  padding-top: 10px;
}

.content-container .content{
  border-bottom: black 1px solid;
  padding-bottom: 30px;
}

.content-container .content h3{
  background-color: #3b3b3b38;
  margin-left: 0;
  margin-right: 0;
}

.container .box {
  position: relative;
  /* max-width: calc(400px - 30px);
  max-height: calc(300px - 30px);
  min-width: 200px;
  min-height: 200px; */
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  float: left;
  margin: 15px;
  background: rgb(99, 99, 99);
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .box .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .box:hover .image{
  top:20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: .9;
}

.container .box .box-content{
  position: absolute;
  top: 100%;
  height: calc(100%-100px);
  text-align: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: .5s;
}

.container .box:hover .box-content{
  top: 100px;
}

#more a{
  position: relative;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3b3b3b38;
  height: 100px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 1s;
}

#more a:hover{
  display: inline-block;
  top:-10px;
  right: 10px;
  width: 100%;
}

.displays {
  display: grid;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .content-container {
    width: 100%;
  }
 .content{
    width: 100%;
  }
}

@media screen and (max-width:900px) {
  .displays{
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width:900px) {
  #topnav a{
    border: white 1px solid;
    text-align: center;
  }
}

#short-about p, h2 {
  font-weight: bold;
  margin-top: 0;
}

#header {
  position: relative;
  background-image: URL(resources/images/Funchal-bg.jpg);
  background-size: cover;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom:rgba(44, 44, 44, 0.425) 2px solid ;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

footer{
  background-color: rgba(44, 44, 44, 0.555);
  margin: 0;
  padding: 0;
  height: auto;
}

.footer{
  padding-top: 20px;
  margin: 10px 0 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

@media screen and (max-width: 1920px) {
  footer{
    width: 100%;
  }
}