/*  */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  background-color: white;
  width: 100%;
}

/* div {
  background-color: white;
} */

#topnav {
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  overflow: hidden;
  background-color: #3b3b3b;
}

#topnav a{
  float: left;
  display: block;
  text-align: center;
}

a {
  display: inline-block;
  padding: 10px 10px;
  margin: 0;
  background-color: #3b3b3b;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: #636363;
}

a[id*="about"] {
  background-color: #636363;
  float: right;
}

a[id*="home"] {
  background-color: #636363;
}

#short-about {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.212);
  /* opacity: 0.75; */
  width: auto;
  height: 500px;
  display: block;
  margin: 10px 10px 0px 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 0;
  /* background-color: cyan; */
}

.container .box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  float: left;
  margin: 15px;
  background: yellow;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .box .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .box:hover .image{
  top:20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: .9;
}

.container .box .content{
  position: absolute;
  top: 100%;
  height: calc(100%-100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .5s;
}

.container .box:hover .content{
  top: 100px;
}

#more a{
  position: relative;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3b3b3b38;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.content-container {
  margin: 0px 10px 0px 10px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.212);
  padding-top: 10px;
}

.content-container .box-content-1{
  margin-bottom: 50px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* border-bottom: black 1px solid; */
  padding-bottom: 30px;
}

.content-container .box-content-1 h3{
  background-color: #3b3b3b38;
  margin-left: 0;
  margin-right: 0;
}

.displays {
  display: grid;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .content-container {
    width: 100%;
  }
  .content-container .box-content-1{
    width: 100%;
  }
  * {
    width: 100%;
  }
}

@media screen and (max-width:900px) {
  .displays .container .box {
    width: 100%;
  }
  #topnav a{
    border: white 1px solid;
    text-align: center;
  }
}

#short-about p,
h2 {
  font-weight: bold;
}

#header {
  background-image: URL(resources/images/Funchal-bg.jpg);
  background-size: cover;
  text-align: center;
  height: 500px;
  width: 100%;
}

.column {
  float: left;
  width: 100%;
  padding-top: 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
